.u-block-3b71-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3b71-3 {
  position: absolute;
  left: 0;
}

.u-block-3b71-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("81d3fdaf461313f5d8e38aacfbbb7ed06cdd2fb95b56d998116b9e3474a271134fb4ec4a8b6bbdd55ad5c8577c3aae92add6f89e33d58350da55db_1280.jpg");
  background-position: 50% 100%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 380px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 781px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 652px;
  }
}

 .u-section-1-2 {
  background-image: url("e14aba563adaded59dcc9fe51b3b7014c35d419291a1016ae2444ea3e00d775bbe620e54763e4dfce28c4fcdaee0ab225b6fe48ebd465d0526f547_1280.jpg");
  background-position: 50% 55.98%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 380px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 731px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-1-3 {
  background-image: url("aa57d931a2240be492a361fee3ee9c5d21886aa83fa697c7d2bba118f1f9aeb8f68989e4463745bf94845092884cd657a51863c30ecadd7b76dcb2_1280.jpg");
  background-position: 50% 0%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 380px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 731px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-1-4 {
  background-image: url("9d77fead4eb771b2d8b21ec575f0f0e1509940ab293b202ba34e1443eacc07b807d36cb65b02748dfe0d53b8d071e62e436b94dd0945badbec0db7_1280.jpg");
  background-position: 50% 0%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 380px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 731px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 992px;
}

.u-section-2 .u-text-1 {
  width: 909px;
  margin: 34px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 14.4px));
  min-height: 397px;
  grid-gap: 18px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 131px;
  width: 131px;
  background-image: url("6eff5e48-2c41-d08b-c65b-a944fa3af1ac-33.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 131px;
  width: 131px;
  background-image: url("42b829de-7d0b-0ded-b752-3cade6e99db4-35.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 131px;
  width: 131px;
  background-image: url("72f227b3-95c6-9c71-01e0-22b2626b426d-32.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-4 {
  height: 131px;
  width: 131px;
  background-image: url("8502e348-4d2e-9824-71ce-c251d46d8ff5-36.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-5 {
  height: 131px;
  width: 131px;
  background-image: url("566-37.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-list-2 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(5, calc(20% - 14.4px));
  min-height: 397px;
  grid-gap: 18px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-6 {
  height: 131px;
  width: 131px;
  background-image: url("6eff5e48-2c41-d08b-c65b-a944fa3af1ac.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-7 {
  height: 131px;
  width: 131px;
  background-image: url("42b829de-7d0b-0ded-b752-3cade6e99db4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-8 {
  height: 131px;
  width: 131px;
  background-image: url("72f227b3-95c6-9c71-01e0-22b2626b426d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-17 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-9 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-9 {
  height: 131px;
  width: 131px;
  background-image: url("8502e348-4d2e-9824-71ce-c251d46d8ff5.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-19 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-10 {
  height: 131px;
  width: 131px;
  background-image: url("566.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-21 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 323px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 12px));
    min-height: 866px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 1492px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 172px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("a3b0c3969558c70b229860658e6f25a85063862303e26924885edf4e094bb63311c4fd58159763e22443b0b7cec628bbd04784962211c915f01993_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 523px;
}

.u-section-3 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  width: 826px;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1382px;
}

.u-section-4 .u-shape-1 {
  height: 786px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 838px;
  min-height: 150px;
  height: auto;
  margin: -717px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 42px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 1072px;
  width: 1140px;
  grid-gap: 17px 17px;
  margin: 31px auto 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1194px;
  }

  .u-section-4 .u-shape-1 {
    height: 737px;
    margin-top: 2px;
  }

  .u-section-4 .u-group-1 {
    min-height: 130px;
    margin-top: -686px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    font-size: 3.4375rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 884px;
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2027px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1717px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 5006px;
  }

  .u-section-4 .u-shape-1 {
    height: 1515px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: -1464px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 4696px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3317px;
  }

  .u-section-4 .u-shape-1 {
    height: 1399px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -1348px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 3007px;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 423px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 59px 177px 0 149px;
}

.u-section-5 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 177px;
  grid-gap: 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 173px;
    margin-right: 77px;
    margin-left: 49px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-gap: 20px 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 391px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 56px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 42px;
    margin-bottom: 56px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 505px;
  }
}