.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-text-1 {
  width: 606px;
  margin: 10px auto 0;
}

.u-section-1 .u-image-1 {
  height: 285px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 748px;
  min-height: 196px;
  height: auto;
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -83px auto 47px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 400;
  background-image: none;
  margin: 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 810px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  min-height: 319px;
  grid-gap: 50px 50px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 76px;
  width: 76px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 76px;
  width: 76px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 76px;
  width: 76px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 76px;
  width: 76px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  height: 76px;
  width: 76px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-icon-6 {
  height: 76px;
  width: 76px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 33.3333px));
    min-height: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 24.999975px));
    min-height: 489px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 605px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 263px;
  margin: 38px 12px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 605px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 38px 0 0 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 573px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 361px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 769px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px -3px 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 709px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 40px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 73px auto 0;
}

.u-section-4 .u-group-elements-1 {
  width: 261px;
  min-height: 64px;
  margin: 40px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 104px 0 93px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px 197px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  width: 322px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 709px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 76px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 40px auto 0;
}

.u-section-4 .u-group-elements-2 {
  width: 177px;
  min-height: 300px;
  height: auto;
  margin: 73px auto 0;
}

.u-section-4 .u-icon-4 {
  width: 151px;
  height: 151px;
  background-image: none;
  margin: 0 13px;
  padding: 21px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 53px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 44px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-4 .u-text-3 {
    width: 312px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1022px;
}

.u-section-5 .u-text-1 {
  line-height: 1.6;
  font-size: 3rem;
  font-weight: 700;
  margin: 84px 43px 0;
}

.u-section-5 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 17px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  width: 748px;
  margin: 17px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 819px;
  margin: 17px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 61px;
    margin-right: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 874px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 317px;
  order: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-6 .u-container-layout-2 {
  padding: 50px 0 60px;
}

.u-section-6 .u-image-1 {
  width: 386px;
  height: 386px;
  margin: 34px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 893px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 59px 60px;
}

.u-section-6 .u-image-2 {
  width: 294px;
  height: 294px;
  background-image: url("45370b97-64b2-4204-a316-582cbae9d594.jpg");
  background-position: 50% 50%;
  margin: 39px 0 0 auto;
}

.u-section-6 .u-image-3 {
  width: 284px;
  height: 284px;
  background-image: url("9bc5f2ef8b0b775810d96336749035fa49a2f67f61f5db42d477651099c788178d1a1c01c26dd4a90c893c5dc4b6d2d26d75fac48c11d3b72c3d69_1280.jpg");
  background-position: 50% 50%;
  margin: -11px auto 0 1px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  margin: 35px 1px 0 88px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-6 .u-image-1 {
    width: 376px;
    height: 376px;
    background-position: 50% 50%;
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 826px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 246px;
    height: 246px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 35px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-6 .u-image-1 {
    width: 288px;
    height: 288px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 208px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 228px;
  margin: 34px auto 0 272px;
}

.u-section-7 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 316px;
  margin: 0 auto 0 110px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 33px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin: 16px -8px 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-7 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-list-2 {
  grid-template-rows: auto;
  margin: 0 -8px 6px auto;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-7 .u-image-4 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-9 {
  margin: 18px auto 0 0;
}

.u-section-7 .u-text-10 {
  margin: 22px 0 0;
}

.u-section-7 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-7 .u-image-5 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-11 {
  margin: 18px auto 0 0;
}

.u-section-7 .u-text-12 {
  margin: 22px 0 0;
}

.u-section-7 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-7 .u-image-6 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-13 {
  margin: 18px auto 0 0;
}

.u-section-7 .u-text-14 {
  margin: 22px 0 0;
}

.u-section-7 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 370px;
  }

  .u-section-7 .u-image-1 {
    height: 169px;
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 169px;
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 169px;
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 370px;
  }

  .u-section-7 .u-image-4 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3061px;
  }

  .u-section-7 .u-group-1 {
    margin-left: 150px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 850px;
  }

  .u-section-7 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 850px;
  }

  .u-section-7 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 6281px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2683px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 4px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-2 {
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 598px;
}

.u-section-8 .u-group-1 {
  width: 539px;
  min-height: 348px;
  margin: 93px 60px 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 110px;
}

.u-section-8 .u-text-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-image-1 {
  width: 454px;
  height: 463px;
  margin: -374px auto 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 486px;
    margin-top: 86px;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 461px;
    margin-left: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-8 .u-group-1 {
    min-height: 403px;
    margin-top: 60px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 95px;
  }

  .u-section-8 .u-image-1 {
    width: 489px;
    margin-top: -92px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-8 .u-group-1 {
    width: 456px;
    margin-top: 99px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 75px;
  }

  .u-section-8 .u-image-1 {
    width: 448px;
    height: 397px;
    margin-top: -47px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-8 .u-group-1 {
    min-height: 392px;
    width: 283px;
    margin-top: 60px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 70px;
  }

  .u-section-8 .u-image-1 {
    width: 264px;
    height: 264px;
    margin-top: -56px;
    margin-left: 33px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 293px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 931px;
  margin: 23px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 350px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-icon-1 {
  height: 70px;
  width: 70px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-9 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 29px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px 26px 0 20px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 350px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-icon-2 {
  height: 70px;
  width: 70px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-9 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 5px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  width: 193px;
  margin: 13px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 350px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-9 .u-icon-3 {
  height: 70px;
  width: 70px;
  margin: 23px auto 0;
  padding: 0;
}

.u-section-9 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: -5px 0 0 20px;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  margin: 13px 22px 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 59px;
  }

  .u-section-9 .u-text-2 {
    width: 211px;
  }

  .u-section-9 .u-text-6 {
    width: 164px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 85px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-9 .u-text-2 {
    width: 187px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-9 .u-text-4 {
    width: 187px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 294px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 306px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-6 {
    width: 211px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}